# Python bytecode
__pycache__/
*.py[cod]        # ≡ *.pyc, *.pyo, and *.pyd.

# Virtual environments (Python)
.venv/
venv/
env/

# Local path to the user's LAMMPS executable
config/lammps_path.txt

# Jupyter/ IPython temp files
**/.ipynb_checkpoints/
**/.virtual_documents/

*.ipynb~

# Heavy angle samples 
data/angles_*.dat

# LAMMPS output / large data
outputs/
log.*
*.log
*.dump
*.dat
*.raw
*.bin
*.xyz
*.npy
*.npz

# OS / editor noise
.DS_Store        # macOS
Thumbs.db        # Windows
*.swp            # vim/other editors
